.inline-block {
zoom:1;
display:inline;
}

.clearfix {
zoom:1;
}

.clearfix:before,.clearfix:after {
display:table;
content:"";
}

.clearfix:after {
clear:both;
}

.drop-ie-gradient {
filter:unquote("progid:DXImageTransform.Microsoft.gradient(enabled = false)");
}

.dropdown-arrow-inverse {
border-bottom-color:#34495e!important;
border-top-color:#34495e!important;
}

/*color switcher*/
.color-switcher {
    width: 220px;
    position:fixed;
    left: -220px;
    top: 150px;
    background: #fff;
    z-index: 999;
    padding:15px 0 5px;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    border-bottom-right-radius:4px;
}
.color-switcher h5 {
    font-size: 15px;
    margin-top: 0;
    padding: 0 20px 0;
}
.color-switcher p {
    padding-bottom:7px;
    font-size:14px;
    color:#595959;
    margin-bottom:0;
}
.color-switcher ul {
    list-style:none;
    padding:0;
}
.color-switcher ul li {
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
}
.color-switcher ul li a {
    display: block;
    width: 30px;
    height: 30px;
    outline: none;
}
.color-switcher ul li a.blue {
    background: #1bb1e9;
}
.color-switcher ul li a.green {
    background: #7fc719;
}
.color-switcher ul li a.red {
    background: #e54242;
}
.color-switcher ul li a.yellow {
    background: #ff9c00;
}
.color-switcher ul li a.brown {
    background: #987654;
}
.color-switcher ul li a.cyan {
    background: #1abc9c;
}
.color-switcher ul li a.purple {
    background: #c74a73;
}
.color-switcher ul li a.sky-blue {
    background: #00cdcd;
}
.color-switcher .gray {
    background: rgb(126, 139, 140);
}
.color-switcher .black {
    background: rgb(0, 0, 0);
}
.picker_close {
    width: 40px;
    height: 40px;
    position: absolute;
    right: -40px;
    top: 0px;
    text-align:center;
    background:#fff;
    border-bottom-right-radius:4px;
    border-top-right-radius:4px;
}
.picker_close i {
    font-size:22px;
    margin-top:9px;
}
.position {
    left: 0;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}
.theme-colours, .layouts, .backgrounds, .choose-header, .choose-footer {
    display: table;
    padding: 10px;
    text-align: left;
    padding-top:0px;
    width:100%;
}

body {
font-size:14px;
overflow-x:hidden;
color:#7f8c8d;
line-height:1.29;
font-family:proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input,button,select,textarea {
font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
font-size:14px;
}

a {
color:#16a085;
text-decoration:none;
-webkit-backface-visibility:hidden;
-webkit-transition:.25s;
-moz-transition:.25s;
-o-transition:.25s;
transition:.25s;
}

a:hover {
color:#1abc9c;
text-decoration:none;
}

h1,.h1 {
font-size:62.006px;
}

h2,.h2 {
font-size:51.996px;
}

h3,.h3 {
font-size:39.998px;
}

h4,.h4 {
font-size:28.994px;
}

h5,.h5 {
font-size:28px;
}

h6,.h6 {
font-size:23.996px;
}

h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6 {
line-height:1.2em;
font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
color:#2c3e50;
}

h2 {
font-weight:700;
margin-bottom:2px;
}

h3 {
margin-bottom:4px;
margin-top:2px;
font-weight:400;
}

h4 {
font-weight:500;
margin-top:4px;
}

h5 {
font-weight:500;
}

p {
font-size:18.004px;
line-height:1.722169;
}

.lead {
font-size:28px;
line-height:1.4642745000000001;
font-weight:300;
}

small {
font-size:84%;
line-height:2.050846;
}

blockquote {
position:relative;
border-left:none;
padding-left:19px;
}

blockquote p {
font-size:20.006px;
line-height:1.549829;
font-weight:400;
margin-bottom:.4em;
}

blockquote small {
font-size:18.004px;
line-height:1.722169;
font-style:italic;
color:#34495e;
}

blockquote small:before {
content:"";
}

blockquote:before {
position:absolute;
left:0;
width:3px;
height:100%;
top:0;
bottom:0;
background-color:#ebedee;
content:"";
-webkit-border-radius:2px;
-moz-border-radius:2px;
border-radius:2px;
}

.img-rounded {
-webkit-border-radius:5px;
-moz-border-radius:5px;
border-radius:5px;
}

.img-comment {
font-size:14.994px;
line-height:1.231;
font-style:italic;
margin:24px 0;
}

.text-primary {
color:#1abc9c;
}

a.text-primary:hover,a.text-primary:focus {
color:#15967d;
}

a.text-success:hover,a.text-success:focus {
color:#25a35a;
}

.text-danger {
color:#e74c3c;
}

a.text-danger:hover,a.text-danger:focus {
color:#b93d30;
}

.text-warning {
color:#f1c40f;
}

a.text-warning:hover,a.text-warning:focus {
color:#c19d0c;
}

.text-info {
color:#3498db;
}

a.text-info:hover,a.text-info:focus {
color:#2a7aaf;
}

a.text-inverse:hover,a.text-inverse:focus {
color:#ccc;
}

a.muted:hover,a.muted:focus {
color:#979c9f;
}

.input-append input {
-webkit-border-radius:6px 0 0 6px;
-moz-border-radius:6px 0 0 6px;
border-radius:6px 0 0 6px;
}

.navbar-fixed-top .navbar-inner,.navbar-static-top .navbar-inner {
box-shadow:none;
}

.bg-white {
background-color:#fff;
}

.bg-black {
background-color:#000;
}

.bg-green-sea {
background-color:#16a085;
}

.bg-nephritis {
background-color:#27ae60;
}

.bg-belize-hole {
background-color:#2980b9;
}

.bg-amethyst {
background-color:#9b59b6;
}

.bg-wisteria {
background-color:#8e44ad;
}

.bg-midnight-blue {
background-color:#2c3e50;
}

.bg-orange {
background-color:#f39c12;
}

.bg-carrot {
background-color:#e67e22;
}

.bg-pumpkin {
background-color:#d35400;
}

.bg-pomegranate {
background-color:#c0392b;
}

.bg-clouds {
background-color:#ecf0f1;
}

.bg-silver {
background-color:#bdc3c7;
}

.bg-concrete {
background-color:#95a5a6;
}

.bg-asbestos {
background-color:#7f8c8d;
}

.bordered {
border-style:solid;
}

.bordered.bg-turquoise {
border-color:#16a085;
}

.bordered.bg-emerland {
border-color:#27ae60;
}

.bordered.bg-peter-river {
border-color:#2980b9;
}

.bordered.bg-amethyst {
border-color:#8e44ad;
}

.bordered.bg-wet-asphalt {
border-color:#2c3e50;
}

.bordered.bg-sun-flower {
border-color:#f39c12;
}

.bordered.bg-carrot {
border-color:#d35400;
}

.bordered.bg-alizarin {
border-color:#c0392b;
}

.bordered.bg-clouds {
border-color:#bdc3c7;
}

.bordered.bg-concrete {
border-color:#7f8c8d;
}

body > section,header,footer {
position:relative;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
}

img {
-webkit-backface-visibility:hidden;
}

textarea,input[type=text],input[type=password],input[type=datetime],input[type=datetime-local],input[type=date],input[type=month],input[type=time],input[type=week],input[type=number],input[type=email],input[type=url],input[type=search],input[type=tel],input[type=color],.uneditable-input {
font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
font-size:16px;
font-weight:400;
color:#7f8c8d;
}

a:hover,button:hover,a:focus,button:focus,a:active,button:active {
outline:none;
}

.navbar .subnav {
display:none;
}

.delimiter {
margin-top:200px;
}

.delimiter.line {
margin-top:150px;
margin-bottom:150px;
border-top:2px solid #ebedee;
}

header {
padding-top:100px;
padding-bottom:70px;
z-index:100;
}

header .brand {
font-size:25px;
font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
font-weight:800;
letter-spacing:-1px;
color:#2c3e50;
}

section * {
z-index:2;
}

.background {
position:absolute;
left:0;
top:0;
right:0;
bottom:0;
z-index:1;
background:50% 50% no-repeat;
-webkit-background-size:cover;
-moz-background-size:cover;
-o-background-size:cover;
background-size:cover;
opacity:0.2;
filter:alpha(opacity=20);
}

.container {
position:relative;
z-index:2;
}

.nav-visible .nav-collapse .navbar-form,.nav-visible .nav-collapse .navbar-search {
border-bottom:0 none;
border-top:0 none;
box-shadow:none;
margin:10px 0;
padding:10px 15px;
}

.nav-visible .nav-collapse .navbar-form a.btn,.nav-visible .nav-collapse .navbar-search a.btn {
color:#FFF;
border-color:#FFF;
}

.nav-visible .nav-collapse .navbar-form a.btn:hover,.nav-visible .nav-collapse .navbar-search a.btn:hover,.nav-visible .nav-collapse .navbar-form a.btn:focus,.nav-visible .nav-collapse .navbar-search a.btn:focus {
color:#7f8c8d;
background-color:#FFF;
}

.header-10 {
z-index:100;
width:100%;
padding-top:0;
padding-bottom:0;
background:#233240;
color:#FFF;
height:0;
}

.header-10 .navbar {
position:absolute;
z-index:2;
top:0;
margin:0;
}

.header-10 .navbar.navbar-fixed-top {
position:fixed;
top:0!important;
margin:0 auto;
}

.header-10 .navbar .navbar-form,.header-10 .navbar .navbar-search {
margin:0;
padding:20px 0 19px 60px;
}

.header-10 .navbar .btn,.header-10 .navbar .btn-group {
margin-top:-1px;
}

.header-10 .navbar .btn {
padding-left:26px;
padding-right:26px;
}

.header-10 .navbar .btn.btn-primary {
font-size:15px;
color:#fff;
font-weight:500;
}

.header-10 .navbar .navbar-inner {
background:none;
}

.header-10 .navbar .brand {
padding-left:0;
padding-top:25px;
font-size:25px;
color:#fff;
font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
font-weight:700;
letter-spacing:-1px;
}

.header-10 .navbar .nav > li {
margin-left:45px;
}

.header-10 .navbar .nav > li:first-child {
margin-left:0;
}

.header-10 .navbar .nav > li > a {
color:#fff;
font-family:proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size:20px;
font-weight:500;
padding:32px 0 24px;
}

.header-10 .navbar .btn-navbar {
-webkit-border-radius:0;
-moz-border-radius:0;
border-radius:0;
border:0;
background:none!important;
color:#FFF;
margin:27px 0 17px;
padding:0;
}

.header-10 .navbar .btn-navbar:active,.header-10 .navbar .btn-navbar.active {
color:#869198;
}

.header-10-sub {
position:relative;
z-index:50;
height:800px;
color:#FFF;
text-align:center;
}

.header-10-sub .hero-unit {
background-color:transparent;
margin:0;
padding:0;
}

.header-10-sub .hero-unit h1 {
color:#fff;
font-size:50px;
font-family:proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-weight:700;
letter-spacing:-2px;
margin:0 0 35px;
}

.header-10-sub .hero-unit p {
font-size:23px;
font-family:proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif;
line-height:33px;
font-weight:300;
color:#fff;
opacity:0.7;
filter:alpha(opacity=70);
}

.header-10-sub .hero-unit.hero-unit-bordered h1 {
font-size:46px;
color:#fff;
font-weight:500;
font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
border:8px solid #FFF;
display:inline-block;
margin:0;
padding:30px 40px;
}

.header-10-sub .control-btn {
width:53px;
height:53px;
line-height:53px;
border-radius:50%;
text-align:center;
font-size:19px;
font-weight:400;
color:#fff;
background:#121518;
opacity:0.8;
filter:alpha(opacity=80);
position:absolute;
left:50%;
bottom:90px;
margin:0 0 0 -26.5px;
padding:0;
}

.content-7 {
position:relative;
text-align:center;
padding-top:180px;
padding-bottom:190px;
font-size:16px;
font-weight:400;
color:#7f8c8d;
}

.content-7 h3 {
text-align:center;
font-size:50px;
color:#34495e;
font-family:proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-weight:700;
line-height:56px;
letter-spacing:-3px;
margin-bottom:95px;
}

.content-7 .row {
text-align:left;
}

.content-7 h6 {
text-transform:none;
font-family:proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size:20px;
font-weight:400;
color:#34495e;
line-height:25px;
margin-top:38px;
}

.content-7 h6:first-child {
margin-top:auto;
}

.content-7 .row > .span3:first-child {
font-size:22px;
color:#7f8c8d;
line-height:32px;
font-weight:300;
font-family:proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.content-7 .screen-wrapper {
position:relative;
height:437px;
}

.content-7 .screen-wrapper .screen {
position:absolute;
left:50%;
margin-left:-151px;
overflow:hidden;
}

.content-7 .screen-wrapper .screen img {
position:relative;
max-width:none;
}

.content-7 .screen-wrapper .screen img:first-child {
position:absolute;
left:0;
top:0;
max-height:100%;
}

.content-8 {
position:relative;
text-align:center;
padding-top:225px;
margin-top:-223px;
padding-bottom:170px;
}

.content-8 h3 {
text-align:center;
font-weight:400;
color:#34495e;
font-family:proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size:32px;
letter-spacing:-1px;
margin:70px 0 27px;
}

.content-8 p {
font-size:18px;
font-weight:400;
color:#7f8c8d;
margin-bottom:43px;
font-family:proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif;
line-height:30px;
}

.content-8 .btn.btn-clear {
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
background:none;
border:2px solid #e74c3c;
font-size:14px;
font-weight:500;
font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
color:#e74c3c;
padding:12px 28px;
}

.content-8 .btn.btn-clear:hover,.content-8 .btn.btn-clear:focus {
background:#e74c3c;
color:#fff;
}

.content-8 .btn.btn-clear:active,.content-8 .btn.btn-clear.active {
background:#c44133;
color:rgba(255,255,255,0.75);
border-color:#c44133;
}

.content-13 {
position:relative;
}

.content-13.subscribe-form {
padding-top:40px;
padding-bottom:40px;
color:#a1a9b1;
}

.content-13.subscribe-form .span4 {
text-align:right;
}

.content-13.subscribe-form form {
position:relative;
margin:0;
}

.content-13.subscribe-form input[type=text] {
width:100%;
height:auto;
border:0;
background:transparent;
line-height:60px;
font-size:50px;
color:#fff;
font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
font-weight:500;
letter-spacing:-1px;
margin:0;
padding:0;
}

.content-13.subscribe-form .ani-placeholder {
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
position:absolute;
padding-left:6px;
line-height:60px;
font-size:50px;
font-weight:400;
color:#bdc3c7;
font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}

.content-13.subscribe-form .btn {
margin-top:8px;
width:220px;
max-width:100%;
font-family:proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size:18px;
padding-top:13px;
padding-bottom:12px;
}

.content-13.subscribe-form .btn.btn-primary {
background:#16a085;
}

.content-13.subscribe-form .btn.btn-primary:hover,.content-13.subscribe-form .btn.btn-primary:focus {
background:#24deb4;
}

.content-13.subscribe-form .btn.btn-primary:active,.content-13.subscribe-form .btn.btn-primary.active {
background:#138871;
}

.content-23 {
position:relative;
height:800px;
-webkit-background-size:cover;
-moz-background-size:cover;
-o-background-size:cover;
background-size:cover;
color:#FFF;
background-color:#1B1F23;
}

.content-23 .control-btn {
width:53px;
height:53px;
line-height:53px;
border-radius:50%;
text-align:center;
font-size:19px;
font-weight:400;
background:#121518;
color:#fff;
opacity:0.3;
filter:alpha(opacity=30);
position:absolute;
left:50%;
bottom:90px;
margin:0 0 0 -26.5px;
padding:0;
}

.content-23 .hero-unit {
text-align:center;
background-color:transparent;
margin:0;
padding:0;
}

.content-23 .hero-unit h1 {
color:#fff;
font-size:53px;
font-family:proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif;
line-height:54px;
font-weight:700;
letter-spacing:-2px;
margin:0 0 35px;
}

.content-23 .hero-unit.hero-unit-bordered h1 {
color:#fff;
border:8px solid #FFF;
display:inline-block;
font-size:49px;
font-family:proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif;
font-weight:700;
letter-spacing:-2px;
margin:0;
padding:26px 26px 22px;
}

.footer-3 {
font-size:14px;
background:#2c3e50;
background-color:#1B1F23;
color:#7F8C8D;
padding-top:85px;
padding-bottom:80px;
}

.footer-3 a {
color:#fff;
font-weight:400;
}

.footer-3 h1,.footer-3 .h1,.footer-3 h2,.footer-3 .h2,.footer-3 h3,.footer-3 .h3,.footer-3 h4,.footer-3 .h4,.footer-3 h5,.footer-3 .h5,.footer-3 h6,.footer-3 .h6 {
color:#FFF;
}

.footer-3 .brand {
font-size:25px;
color:#fff;
font-weight:700;
letter-spacing:-1px;
font-family:proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.footer-3 .additional-links a {
color:#bdc3c7;
text-decoration:underline;
}

.footer-3 h6 {
font-size:16px;
color:#fff;
font-weight:300;
text-transform:none;
margin:0 0 10px;
}

.footer-3 .address {
line-height:1.6;
}

.navbar {
padding-top:56px;
}

.header-10-sub .container {
margin-top:140px;
margin-bottom:180px;
}

.header-10-sub a {
text-decoration:underline;
color:#bdc3c7;
}

.header-10-sub a:hover,.header-10-sub a:focus,.header-10-sub a.active {
color:#7f8c8d;
}

15% {
opacity:1;
top:50%;
}

50% {
opacity:0;
top:50%;
}

100% {
opacity:0;
top:29%;
}

.header-10-sub .background {
background-image:url(http://purehdwall.com/wp-content/uploads/2014/02/big_cakes_hd_wallpaper.jpg);
opacity:1;
filter:alpha(opacity=100);
}

.header-10-sub .scroll-btn {
display:block;
position:absolute;
left:0;
right:0;
bottom:70px;
text-align:center;
}

.header-10-sub .scroll-btn > * {
display:inline-block;
line-height:18px;
font-size:13px;
font-weight:400;
color:#fff;
font-family:proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif;
letter-spacing:2px;
}

.header-10-sub .scroll-btn > :hover,.header-10-sub .scroll-btn > :focus,.header-10-sub .scroll-btn > :active,.header-10-sub .scroll-btn > .active {
opacity:0.8;
filter:alpha(opacity=80);
}

.header-10-sub .scroll-btn .mouse {
position:relative;
display:block;
width:46px;
height:73px;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
border:3px solid #FFF;
border-radius:23px;
margin:0 auto 20px;
}

.header-10-sub .scroll-btn .mouse > * {
position:absolute;
display:block;
top:29%;
left:50%;
width:8px;
height:8px;
background:#FFF;
border-radius:50%;
-webkit-animation:ani-mouse 4s linear infinite;
-moz-animation:ani-mouse 4s linear infinite;
animation:ani-mouse 4s linear infinite;
margin:-4px 0 0 -4px;
}

.content-7 a {
color:#27ae60;
}

.content-7 .screen-wrapper-custom {
width:311px;
height:642px;
box-sizing:border-box;
-moz-box-sizing:border-box;
background:url(http://hipstafood.com/img/iphone.png) no-repeat;
margin:0 auto;
padding:90px 23px 90px 25px;
}

.content-7 .screen-wrapper-custom .screen-custom {
position:relative;
height:100%;
width:100%;
overflow:hidden;
}

.content-7 .screen-wrapper-custom .screen-custom img {
position:absolute;
width:100%;
}

.content-7 .row > .span3:first-child a {
font-weight:600;
}

.content-7 .info {
line-height:24px;
font-family:proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif;
color:#95a5a6;
}

.content-23.custom-bg {
background-color:#FFF;
background-image:url(../img/table.jpg) \9;
background-repeat:no-repeat \9;
background-position:top center \9;
background-size:auto 100%;
padding-bottom:223px;
height:1006px;
overflow:hidden;
}

.content-23.custom-bg .control-btn {
bottom:308px;
opacity:0.6;
filter:alpha(opacity=60);
}

.content-23.custom-bg2 {
background:url(http://hipstafood.com/img/img-2.jpg) 50% 50%;
height:665px;
-webkit-background-size:cover;
-moz-background-size:cover;
-o-background-size:cover;
background-size:cover;
}

.content-23.custom-bg2 .control-btn {
bottom:50px;
opacity:0.3;
filter:alpha(opacity=30);
}

.content-23.learning-cook .control-btn {
bottom:85px;
opacity:0.7;
filter:alpha(opacity=70);
}

.content-23 .hero-unit .lead {
font-size:23px;
font-family:proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif;
line-height:33px;
opacity:0.7;
filter:alpha(opacity=70);
}

.content-8.learning-process,.content-8.learning-cook {
margin-top:0;
}

.content-13.subscribe-form input[type=text],.content-13.subscribe-form input[type=email] {
width:100%;
height:auto;
border:0;
background:transparent;
line-height:60px;
font-size:50px;
color:#bdc3c7;
font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
font-weight:600;
letter-spacing:-1px;
margin:0;
padding:0;
}

.content-13.subscribe-form input[type=text]:invalid:focus,.content-13.subscribe-form input[type=email]:invalid:focus {
border:0;
-webkit-box-shadow:none;
box-shadow:none;
}

h1,h6 {
font-weight:400;
}

.text-success,.content-7 a:hover,.content-7 a:focus,.content-7 a.active {
color:#2ecc71;
}

.text-inverse,.header-10-sub .control-btn:hover,.header-10-sub .control-btn:focus,.header-10-sub .control-btn.active,.content-13.subscribe-form input[type=text].placeholder,.content-23 .control-btn:hover,.content-23 .control-btn:focus,.content-23 .control-btn.active,.footer-3 .additional-links a:hover,.footer-3 .additional-links a:focus,.footer-3 .additional-links a.active,.header-10-sub .scroll-btn > :hover,.header-10-sub .scroll-btn > :focus,.header-10-sub .scroll-btn > .active {
color:#fff;
}

.muted,.header-10 .navbar .nav > li > a:hover,.header-10 .navbar .nav > li > a:focus,.header-10 .navbar .nav > li > a.active,.header-10 .navbar .nav > li.active > a,.header-10 .navbar .nav > li.active > a:hover,.header-10 .navbar .nav > li.active > a:focus,.header-10 .navbar .nav > li.active > a.active,.header-10 .navbar .btn-navbar:hover,.header-10 .navbar .btn-navbar:focus,.footer-3 a:hover,.footer-3 a:focus,.footer-3 a.active,.content-13.subscribe-form input[type=text].placeholder,.content-13.subscribe-form input[type=email].placeholder {
color:#bdc3c7;
}

footer,.nav-visible .navbar .nav-collapse .nav > li > a:hover,.nav-visible .navbar .nav-collapse .nav > li > li a:focus {
background-color:transparent;
}

.bg-turquoise,.bg-firm {
background-color:#1abc9c;
}

.bg-emerland,.bg-success {
background-color:#2ecc71;
}

.bg-peter-river,.bg-info {
background-color:#3498db;
}

.bg-wet-asphalt,.bg-base {
background-color:#34495e;
}

.bg-sun-flower,.bg-warning {
background-color:#f1c40f;
}

.bg-alizarin,.bg-danger {
background-color:#e74c3c;
}

header .brand img:first-child,.header-10 .navbar .brand img:first-child {
float:left;
margin:-10px 15px 0 0;
}

.header-10-sub.v-center,.header-10-sub .v-center,.content-7.v-center,.content-7 .v-center,.content-8.v-center,.content-8 .v-center,.content-23.v-center,.content-23 .v-center,.footer-3.v-center,.footer-3 .v-center {
display:table;
width:100%;
}

.header-10-sub.v-center > div,.header-10-sub .v-center > div,.content-7.v-center > div,.content-7 .v-center > div,.content-8.v-center > div,.content-8 .v-center > div,.content-23.v-center > div,.content-23 .v-center > div,.footer-3.v-center > div,.footer-3 .v-center > div {
display:table-cell;
vertical-align:middle;
margin-top:0;
margin-bottom:0;
float:none;
}

.header-10-sub .control-btn:hover,.header-10-sub .control-btn:focus,.header-10-sub .control-btn:active,.header-10-sub .control-btn.active,.content-23 .control-btn:hover,.content-23 .control-btn:focus,.content-23 .control-btn:active,.content-23 .control-btn.active,.content-23.custom-bg .control-btn:hover,.content-23.custom-bg .control-btn:focus,.content-23.custom-bg .control-btn:active,.content-23.custom-bg .control-btn.active,.content-23.custom-bg2 .control-btn:hover,.content-23.custom-bg2 .control-btn:focus,.content-23.custom-bg2 .control-btn:active,.content-23.custom-bg2 .control-btn.active,.content-23.learning-cook .control-btn:hover,.content-23.learning-cook .control-btn:focus,.content-23.learning-cook .control-btn:active,.content-23.learning-cook .control-btn.active {
opacity:1;
filter:alpha(opacity=100);
}

.content-13.subscribe-form input[type=text]:-moz-placeholder,.content-13.subscribe-form input[type=text]::-webkit-input-placeholder {
color:#fff;
font-weight:500;
letter-spacing:-1px;
}

.content-13.subscribe-form input[type=text]::-moz-placeholder,.content-13.subscribe-form input[type=text]:-ms-input-placeholder {
font-weight:500;
letter-spacing:-1px;
}

.content-13.subscribe-form input[type=text]:-moz-placeholder,.content-13.subscribe-form input[type=email]:-moz-placeholder,.content-13.subscribe-form input[type=text]::-webkit-input-placeholder,.content-13.subscribe-form input[type=email]::-webkit-input-placeholder {
color:#bdc3c7;
font-weight:600;
letter-spacing:-1px;
}

.content-13.subscribe-form input[type=text]::-moz-placeholder,.content-13.subscribe-form input[type=email]::-moz-placeholder,.content-13.subscribe-form input[type=text]:-ms-input-placeholder,.content-13.subscribe-form input[type=email]:-ms-input-placeholder {
font-weight:600;
letter-spacing:-1px;
}

@media max-width 767px {
body {
padding-right:0;
padding-left:0;
}

body > section,header,footer {
padding-right:20px;
padding-left:20px;
}

.navbar-fixed-top .navbar-inner {
padding-left:20px;
padding-right:20px;
}

header {
padding-left:20px;
padding-right:20px;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
}

.content-7 h3 {
font-size:42px;
line-height:50px;
margin-bottom:20px;
}

.content-7 h6 {
margin-bottom:5px;
margin-top:20px;
}

.content-7 .v-center {
padding-left:0;
padding-right:0;
}

.content-7 .row > [class*=span] {
margin-top:45px;
}

.content-13.subscribe-form .span4 {
text-align:center;
}

.content-23 .hero-unit.hero-unit-bordered h1 {
color:#fff;
font-weight:600;
font-size:42px;
}

.content-7 {
padding-top:90px;
padding-bottom:95px;
}

.content-8 {
padding-top:100px;
padding-bottom:50px;
}

.footer-3 {
padding-top:65px;
padding-bottom:60px;
}

.header-10-sub.v-center,.header-10-sub .v-center,.content-7.v-center,.content-7 .v-center,.content-8.v-center,.content-8 .v-center,.content-23.v-center,.content-23 .v-center,.footer-3.v-center,.footer-3 .v-center {
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
padding-left:20px;
padding-right:20px;
}

.header-10-sub.v-center.row,.header-10-sub .v-center.row,.content-7.v-center.row,.content-7 .v-center.row,.content-8.v-center.row,.content-8 .v-center.row,.content-23.v-center.row,.content-23 .v-center.row,.footer-3.v-center.row,.footer-3 .v-center.row {
display:block;
width:auto;
}

.header-10-sub.v-center.row:before,.header-10-sub .v-center.row:before,.header-10-sub.v-center.row:after,.header-10-sub .v-center.row:after,.content-7.v-center.row:before,.content-7 .v-center.row:before,.content-7.v-center.row:after,.content-7 .v-center.row:after,.content-8.v-center.row:before,.content-8 .v-center.row:before,.content-8.v-center.row:after,.content-8 .v-center.row:after,.content-23.v-center.row:before,.content-23 .v-center.row:before,.content-23.v-center.row:after,.content-23 .v-center.row:after,.footer-3.v-center.row:before,.footer-3 .v-center.row:before,.footer-3.v-center.row:after,.footer-3 .v-center.row:after {
display:none;
}

.header-10-sub.v-center.row > *,.header-10-sub .v-center.row > *,.content-7.v-center.row > *,.content-7 .v-center.row > *,.content-8.v-center.row > *,.content-8 .v-center.row > *,.content-23.v-center.row > *,.content-23 .v-center.row > *,.footer-3.v-center.row > *,.footer-3 .v-center.row > * {
display:block;
vertical-align:baseline;
}

.content-7 .row > [class*=span]:first-child,.footer-3 .row > [class*=span]:first-child {
margin-top:0;
}

.footer-3 .row > [class*=span],.footer-3 .span7 {
margin-top:30px;
}
}

@media max-width 979px {
.navbar .nav-collapse {
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
position:fixed;
top:0;
bottom:0;
left:100%;
width:72%;
border-radius:0;
float:none;
height:auto!important;
overflow:auto!important;
background:#222527;
font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
display:none;
padding:25px 0;
}

.navbar .nav-collapse .navbar-form,.navbar .nav-collapse .navbar-search {
border-bottom:0 none;
border-top:0 none;
box-shadow:none;
padding:10px 35px;
}

.navbar .nav-collapse .navbar-form:focus,.navbar .nav-collapse .navbar-search:focus {
outline:0 none;
}

body > *,.navbar .nav-collapse {
-webkit-backface-visibility:hidden;
-webkit-transition:left .4s;
-moz-transition:left .4s;
-o-transition:left .4s;
transition:left .4s;
}

.nav-visible body > * {
left:-72%;
}

.nav-visible .navbar .nav-collapse {
left:28%!important;
visibility:visible;
}

.header-10 .navbar .nav-collapse {
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
box-sizing:border-box;
position:fixed;
top:0;
bottom:0;
left:100%;
width:72%;
height:auto!important;
border-radius:0;
float:none;
overflow:auto!important;
background:#222527;
font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
padding:25px 0;
}

.header-10 .navbar .nav-collapse .navbar-form,.header-10 .navbar .nav-collapse .navbar-search {
padding:10px 35px;
}

.content-23.custom-bg2 {
background:#1B1F23;
}

.navbar .nav-collapse::-webkit-scrollbar,.header-10 .navbar .nav-collapse::-webkit-scrollbar {
display:none;
}

.navbar .nav-collapse > *,.header-10 .navbar .nav-collapse > * {
margin:30px 0 0!important;
}

.navbar .nav-collapse > :first-child,.header-10 .navbar .nav-collapse > :first-child {
margin-top:0!important;
}

.navbar .nav-collapse .nav > li,.header-10 .navbar .nav-collapse .nav > li {
margin:0;
}

.navbar .nav-collapse .nav > li > a,.header-10 .navbar .nav-collapse .nav > li > a {
display:block!important;
border-bottom:2px solid #24292d;
font-size:13px;
font-weight:400;
font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
letter-spacing:1px;
color:#5b5e61;
text-transform:uppercase;
margin:0;
padding:12px 35px;
}

.navbar .nav-collapse .nav > li > a:hover,.navbar .nav-collapse .nav > li > a:focus,.navbar .nav-collapse .nav > li > a.active,.navbar .nav-collapse .nav > li.active > a,.navbar .nav-collapse .nav > li.active > a:hover,.navbar .nav-collapse .nav > li.active > a:focus,.navbar .nav-collapse .nav > li.active > a.active,.navbar .nav-collapse .subnav li > a:hover,.navbar .nav-collapse .subnav li > a:focus,.navbar .nav-collapse .subnav li > a.active,.header-10 .navbar .nav-collapse .nav > li > a:hover,.header-10 .navbar .nav-collapse .nav > li > a:focus,.header-10 .navbar .nav-collapse .nav > li > a.active,.header-10 .navbar .nav-collapse .nav > li.active > a,.header-10 .navbar .nav-collapse .nav > li.active > a:hover,.header-10 .navbar .nav-collapse .nav > li.active > a:focus,.header-10 .navbar .nav-collapse .nav > li.active > a.active,.header-10 .navbar .nav-collapse .subnav li > a:hover,.header-10 .navbar .nav-collapse .subnav li > a:focus,.header-10 .navbar .nav-collapse .subnav li > a.active {
color:#fff;
}

.navbar .nav-collapse .subnav,.header-10 .navbar .nav-collapse .subnav {
display:block;
list-style:none;
}

.navbar .nav-collapse .subnav li > a,.header-10 .navbar .nav-collapse .subnav li > a {
display:block;
font-size:13px;
font-weight:400;
font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
color:#5b5e61;
text-transform:capitalize;
margin:0;
padding:7px 35px;
}
}

@media max-width 768px {
.background {
-webkit-background-size:auto 200%;
-moz-background-size:auto 200%;
-o-background-size:auto 200%;
background-size:auto 200%;
}
}

@media min-width 768px {
.header-10-sub.v-center.row:before,.header-10-sub .v-center.row:before,.header-10-sub.v-center.row:after,.header-10-sub .v-center.row:after,.content-7.v-center.row:before,.content-7 .v-center.row:before,.content-7.v-center.row:after,.content-7 .v-center.row:after,.content-8.v-center.row:before,.content-8 .v-center.row:before,.content-8.v-center.row:after,.content-8 .v-center.row:after,.content-23.v-center.row:before,.content-23 .v-center.row:before,.content-23.v-center.row:after,.content-23 .v-center.row:after,.footer-3.v-center.row:before,.footer-3 .v-center.row:before,.footer-3.v-center.row:after,.footer-3 .v-center.row:after {
display:none;
}
}

@media max-width 480px {
.header-10-sub .hero-unit h1 {
color:#fff;
font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
font-weight:300;
font-size:42px;
}

.header-10-sub .hero-unit p {
font-size:22px;
color:#bdc3c7;
line-height:35px;
font-weight:300;
}

.header-10-sub .hero-unit.hero-unit-bordered h1 {
font-size:22px;
color:#fff;
font-weight:500;
}

.header-10-sub.v-center > div {
padding-top:35px;
}

.content-7 h3 {
text-align:left;
}

.content-13.subscribe-form input[type=text],.content-13.subscribe-form .ani-placeholder {
width:100%;
margin-bottom:33px;
line-height:27px;
font-size:25px;
font-weight:400;
color:#a1a9b1;
font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
text-align:center;
}

.content-23 .hero-unit h1 {
color:#fff;
font-weight:600;
font-size:42px;
line-height:1;
}

.header-10-sub .container {
margin-top:100px;
margin-bottom:120px;
}

.header-10-sub .scroll-btn {
bottom:10px;
}

.content-23.custom-bg .control-btn {
bottom:258px;
}

.content-13.subscribe-form input[type=text],.content-13.subscribe-form input[type=email],.content-13.subscribe-form .ani-placeholder {
width:100%;
margin-bottom:33px;
line-height:27px;
font-size:25px;
font-weight:400;
color:#a1a9b1;
font-family:proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif;
text-align:center;
}

.header-10-sub .control-btn,.content-23 .control-btn {
bottom:30px;
}

.content-23.custom-bg2 .control-btn,.content-23.learning-cook .control-btn {
bottom:35px;
}
}

@media max-width 979px and min-width 768px {
.content-7 .screen-wrapper-custom {
margin:0 0 0 -41px;
}

.footer-3 .v-center .span2 {
width:140px;
}
}

@media max-width 351px {
.content-7 .screen-wrapper-custom {
margin:0 -20px;
}
}